# POSTTEST 4

## WANDA NURHALIZA
## 2109106055

#### IMPORT LIBRARY

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

#### MEMBACA FILE CSV DAN MENAMPILKAN INFORMASI DARI DATASET

In [2]:
df = pd.read_csv("insurance.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

#### MEMBAGI DATASET MENJADI TRAINING SET DAN TESTING SET DENGAN PROPORSI 70 : 30

In [3]:
x = df.iloc[:, :-1]
y = df.iloc[:, -1]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

print ("====== TRAIN TEST SPLIT ======")
print ("------------------------------")
print ("| Dimensi x_train |", x_train.shape, "|")
print ("| Dimensi x_test  |", x_test.shape, "|")
print ("| Dimensi y_train |", y_train.shape, "  |")
print ("| Dimensi y_test  |", y_test.shape, "  |")
print ("------------------------------")

====== TRAIN TEST SPLIT ======
------------------------------
| Dimensi x_train | (936, 6) |
| Dimensi x_test  | (402, 6) |
| Dimensi y_train | (936,)   |
| Dimensi y_test  | (402,)   |
------------------------------

#### MELAKUKAN NORMALISASI DATA PADA SALAH SATU ATTRIBUTE MENGGUNAKAN MIN MAX SCALER

In [4]:
from sklearn.preprocessing import MinMaxScaler

In [5]:
min_max_scaler = MinMaxScaler()

In [6]:
x_norm = min_max_scaler.fit_transform(
    df[['age', 'bmi', 'children', 'charges']]
)

data_normalisasi = pd.DataFrame(x_norm)

data_normalisasi.head()

          0         1    2         3
0  0.021739  0.321227  0.0  0.251611
1  0.000000  0.479150  0.2  0.009636
2  0.217391  0.458434  0.6  0.053115
3  0.326087  0.181464  0.0  0.333010
4  0.304348  0.347592  0.0  0.043816

#### MELAKUKAN STANDARISASI PADA DATASET

In [12]:
print("Nilai Standar Deviasi Sebelum Distandarisasi :")
np.std(df)

Nilai Standar Deviasi Sebelum Distandarisasi :

age            14.044709
bmi             6.095908
children        1.205042
charges     12105.484976
dtype: float64

In [9]:
from sklearn.preprocessing import StandardScaler

In [11]:
standard_scaler = StandardScaler()

In [13]:
x_standard = standard_scaler.fit_transform(
    df [['age', 'bmi', 'children', 'charges']]
)

print("Nilai Sesudah Distandarisasi :")
np.std(x_standard)

Nilai Sesudah Distandarisasi :

1.0

In [14]:
np.mean(x_standard)

-1.3110256942509322e-16

In [15]:
data_standarisasi = pd.DataFrame(x_standard)

data_standarisasi.head()

          0         1         2         3
0 -1.438764 -0.453320 -0.908614  0.298584
1 -1.509965  0.509621 -0.078767 -0.953689
2 -0.797954  0.383307  1.580926 -0.728675
3 -0.441948 -1.305531 -0.908614  0.719843
4 -0.513149 -0.292556 -0.908614 -0.776802

#### MELAKUKAN DATA CLEANING PADA DATA DENGAN NILAI NULL

In [16]:
dataset_split_rusak = pd.read_csv('insurance_rusak.csv')

df[1:50]

    age     sex     bmi  children smoker     region      charges
1    18    male  33.770         1     no  southeast   1725.55230
2    28    male  33.000         3     no  southeast   4449.46200
3    33    male  22.705         0     no  northwest  21984.47061
4    32    male  28.880         0     no  northwest   3866.85520
5    31  female  25.740         0     no  southeast   3756.62160
6    46  female  33.440         1     no  southeast   8240.58960
7    37  female  27.740         3     no  northwest   7281.50560
8    37    male  29.830         2     no  northeast   6406.41070
9    60  female  25.840         0     no  northwest  28923.13692
10   25    male  26.220         0     no  northeast   2721.32080
11   62  female  26.290         0    yes  southeast  27808.72510
12   23    male  34.400         0     no  southwest   1826.84300
13   56  female  39.820         0     no  southeast  11090.71780
14   27    male  42.130         0    yes  southeast  39611.75770
15   19    male  24.600         1     no  southwest   1837.23700
16   52  female  30.780         1     no  northeast  10797.33620
17   23    male  23.845         0     no  northeast   2395.17155
18   56    male  40.300         0     no  southwest  10602.38500
19   30    male  35.300         0    yes  southwest  36837.46700
20   60  female  36.005         0     no  northeast  13228.84695
21   30  female  32.400         1     no  southwest   4149.73600
22   18    male  34.100         0     no  southeast   1137.01100
23   34  female  31.920         1    yes  northeast  37701.87680
24   37    male  28.025         2     no  northwest   6203.90175
25   59  female  27.720         3     no  southeast  14001.13380
26   63  female  23.085         0     no  northeast  14451.83515
27   55  female  32.775         2     no  northwest  12268.63225
28   23    male  17.385         1     no  northwest   2775.19215
29   31    male  36.300         2    yes  southwest  38711.00000
30   22    male  35.600         0    yes  southwest  35585.57600
31   18  female  26.315         0     no  northeast   2198.18985
32   19  female  28.600         5     no  southwest   4687.79700
33   63    male  28.310         0     no  northwest  13770.09790
34   28    male  36.400         1    yes  southwest  51194.55914
35   19    male  20.425         0     no  northwest   1625.43375
36   62  female  32.965         3     no  northwest  15612.19335
37   26    male  20.800         0     no  southwest   2302.30000
38   35    male  36.670         1    yes  northeast  39774.27630
39   60    male  39.900         0    yes  southwest  48173.36100
40   24  female  26.600         0     no  northeast   3046.06200
41   31  female  36.630         2     no  southeast   4949.75870
42   41    male  21.780         1     no  southeast   6272.47720
43   37  female  30.800         2     no  southeast   6313.75900
44   38    male  37.050         1     no  northeast   6079.67150
45   55    male  37.300         0     no  southwest  20630.28351
46   18  female  38.665         2     no  northeast   3393.35635
47   28  female  34.770         0     no  northwest   3556.92230
48   60  female  24.530         0     no  southeast  12629.89670
49   36    male  35.200         1    yes  southeast  38709.17600

In [17]:
print("Cek Data dengan Nilai NULL :")
dataset_split_rusak.isna().sum()

Cek Data dengan Nilai NULL :

age         14
sex         30
bmi         11
children     2
smoker       0
region       0
charges      0
dtype: int64

In [18]:
print ("Cek Tipe Data :")
dataset_split_rusak.dtypes

Cek Tipe Data :

age         float64
sex          object
bmi         float64
children    float64
smoker       object
region       object
charges     float64
dtype: object

#### MENGGANTI NILAI NULL SESUAI KETENTUAN

In [19]:
from sklearn.impute import SimpleImputer

In [20]:
imputer = SimpleImputer(strategy = "mean")

dataset_split_rusak['age'] = imputer.fit_transform(dataset_split_rusak[['age']])

dataset_split_rusak.isna().sum()

age          0
sex         30
bmi         11
children     2
smoker       0
region       0
charges      0
dtype: int64

In [21]:
imputer = SimpleImputer(strategy = "most_frequent")

dataset_split_rusak['sex'] = imputer.fit_transform(dataset_split_rusak[['sex']])

dataset_split_rusak.isna().sum()

age          0
sex          0
bmi         11
children     2
smoker       0
region       0
charges      0
dtype: int64

In [22]:
imputer = SimpleImputer(strategy = "mean")

dataset_split_rusak['bmi'] = imputer.fit_transform(dataset_split_rusak[['bmi']])

dataset_split_rusak.isna().sum()

age         0
sex         0
bmi         0
children    2
smoker      0
region      0
charges     0
dtype: int64

In [23]:
imputer = SimpleImputer(strategy = "median")

dataset_split_rusak['children'] = imputer.fit_transform(dataset_split_rusak[['children']])

dataset_split_rusak.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

#### MELAKUKAN DATA CLEANING PADA DATA DENGAN NILAI DUPLIKAT

In [24]:
dataset_split_rusak[dataset_split_rusak.duplicated()]

      age   sex    bmi  children smoker     region    charges
581  19.0  male  30.59       0.0     no  northwest  1639.5631

In [25]:
dataset_split_rusak.drop_duplicates(inplace = True)

In [26]:
dataset_split_rusak[dataset_split_rusak.duplicated()]

Empty DataFrame
Columns: [age, sex, bmi, children, smoker, region, charges]
Index: []

In [27]:
dataset_split_rusak.duplicated().sum()

0

#### MENGGANTI TIPE DATA SALAH SATU ATTRIBUTE ANGKA

In [29]:
print ("Tipe Data Awal : ")
dataset_split_rusak['age'].dtypes

Tipe Data Awal :

dtype('float64')

In [30]:
print ("Tipe Data Akhir: ")
data_akhir = dataset_split_rusak[['age']].astype('int64')
data_akhir['age'].dtypes

Tipe Data Akhir:

dtype('int64')

#### MELAKUKAN ONE HOT ENCODING PADA DATASET

In [31]:
from sklearn.preprocessing import OneHotEncoder

In [32]:
onehot_encoder = OneHotEncoder(sparse = False)

onehot = onehot_encoder.fit_transform(dataset_split_rusak[["smoker"]])

dataset_split_rusak_onehot = pd.DataFrame(onehot)

dataset_split_rusak_onehot.head()

     0    1
0  0.0  1.0
1  1.0  0.0
2  1.0  0.0
3  1.0  0.0
4  1.0  0.0

In [33]:
data = dataset_split_rusak.join(dataset_split_rusak_onehot)

data.head()

,age,sex,bmi,children,smoker,region,charges,0,1
0,19.000000,female,27.900,0.0,yes,southwest,16884.92400,0.0,1.0
1,39.225076,male,33.770,1.0,no,southeast,1725.55230,1.0,0.0
2,39.225076,male,33.000,1.0,no,southeast,4449.46200,1.0,0.0
3,39.225076,male,22.705,0.0,no,northwest,21984.47061,1.0,0.0
4,39.225076,male,27.900,0.0,no,northwest,3866.85520,1.0,0.0