# POSTTEST 2

### Nama : Wanda Nurhaliza
### NIM  : 2109106055

In [5]:
import pandas as pd
import numpy as np
df = pd.read_csv("Hotel_Reviews.csv")

In [6]:
data = {
    'jumlah_record': 0,
    'nama_attribute': [],
    'objek_attribute':0,
    'angka_attribute': 0,
    'null_attribute': 0
}

data['jumlah_record'] = df.shape[0]
data['nama_attribute'] = list(df.columns.values)
data['null_attribute'] = list(df.loc[:, df.isnull().any()].columns)
data['objek_attribute'] = list(df.select_dtypes(['object']).columns)
data['angka_attribute'] = list(df.select_dtypes(['float64', 'int64']).columns)

In [7]:
print ("TAMPILAN DATA")
print ("Jumlah Record :", data['jumlah_record'], "\n", "\n")
print ("Nama Attribute :", data['nama_attribute'], "\n", "\n")
print ("Jumlah Attribute (Tipe Objek) :", data['objek_attribute'], "\n", "\n")
print ("Jumlah Attribute (Tipe Angka) :", data['angka_attribute'], "\n", "\n")     
print ("Jumlah Attribute (Tipe Null) :", data['null_attribute'], "\n", "\n")

TAMPILAN DATA
Jumlah Record : 515738


Nama Attribute : ['Hotel_Address', 'Additional_Number_of_Scoring', 'Review_Date', 'Average_Score', 'Hotel_Name', 'Reviewer_Nationality', 'Negative_Review', 'Review_Total_Negative_Word_Counts', 'Total_Number_of_Reviews', 'Positive_Review', 'Review_Total_Positive_Word_Counts', 'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score', 'Tags', 'days_since_review', 'lat', 'lng']


Jumlah Attribute (Tipe Objek) : ['Hotel_Address', 'Review_Date', 'Hotel_Name', 'Reviewer_Nationality', 'Negative_Review', 'Positive_Review', 'Tags', 'days_since_review']


Jumlah Attribute (Tipe Angka) : ['Additional_Number_of_Scoring', 'Average_Score', 'Review_Total_Negative_Word_Counts', 'Total_Number_of_Reviews', 'Review_Total_Positive_Word_Counts', 'Total_Number_of_Reviews_Reviewer_Has_Given', 'Reviewer_Score', 'lat', 'lng']


Jumlah Attribute (Tipe Null) : ['lat', 'lng']

In [8]:
df.describe()

,Additional_Number_of_Scoring,Average_Score,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,lat,lng
count,515738.000000,515738.000000,515738.000000,515738.000000,515738.000000,515738.000000,515738.000000,512470.000000,512470.000000
mean,498.081836,8.397487,18.539450,2743.743944,17.776458,7.166001,8.395077,49.442439,2.823803
std,500.538467,0.548048,29.690831,2317.464868,21.804185,11.040228,1.637856,3.466325,4.579425
min,1.000000,5.200000,0.000000,43.000000,0.000000,1.000000,2.500000,41.328376,-0.369758
25%,169.000000,8.100000,2.000000,1161.000000,5.000000,1.000000,7.500000,48.214662,-0.143372
50%,341.000000,8.400000,9.000000,2134.000000,11.000000,3.000000,8.800000,51.499981,0.010607
75%,660.000000,8.800000,23.000000,3613.000000,22.000000,8.000000,9.600000,51.516288,4.834443
max,2682.000000,9.800000,408.000000,16670.000000,395.000000,355.000000,10.000000,52.400181,16.429233

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Hotel_Address                               515738 non-null  object
 1   Additional_Number_of_Scoring                515738 non-null  int64
 2   Review_Date                                 515738 non-null  object
 3   Average_Score                               515738 non-null  float64
 4   Hotel_Name                                  515738 non-null  object
 5   Reviewer_Nationality                        515738 non-null  object
 6   Negative_Review                             515738 non-null  object
 7   Review_Total_Negative_Word_Counts           515738 non-null  int64
 8   Total_Number_of_Reviews                     515738 non-null  int64
 9   Positive_Review                             515738 non-null  object
 10  Review_Total_Positive_Word_Counts           515738 non-null  int64
 11  Total_Number_of_Reviews_Reviewer_Has_Given  515738 non-null  int64
 12  Reviewer_Score                              515738 non-null  float64
 13  Tags                                        515738 non-null  object
 14  days_since_review                           515738 non-null  object
 15  lat                                         512470 non-null  float64
 16  lng                                         512470 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 66.9+ MB

In [ ]:
df.corr()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_7040\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Additional_Number_of_Scoring,Average_Score,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,lat,lng
Additional_Number_of_Scoring,1.000000,-0.152846,0.029195,0.824884,-0.053087,-0.071969,-0.061554,0.336295,-0.295732
Average_Score,-0.152846,1.000000,-0.112323,-0.179568,0.106719,0.036454,0.364351,-0.108642,0.106078
Review_Total_Negative_Word_Counts,0.029195,-0.112323,1.000000,0.035124,0.119613,0.003199,-0.382474,0.019112,-0.020002
Total_Number_of_Reviews,0.824884,-0.179568,0.035124,1.000000,-0.030132,-0.024910,-0.072865,0.100295,-0.014141
Review_Total_Positive_Word_Counts,-0.053087,0.106719,0.119613,-0.030132,1.000000,0.026535,0.220800,-0.037567,0.035471
Total_Number_of_Reviews_Reviewer_Has_Given,-0.071969,0.036454,0.003199,-0.024910,0.026535,1.000000,0.002873,-0.059793,0.110810
Reviewer_Score,-0.061554,0.364351,-0.382474,-0.072865,0.220800,0.002873,1.000000,-0.036562,0.034001
lat,0.336295,-0.108642,0.019112,0.100295,-0.037567,-0.059793,-0.036562,1.000000,-0.304524
lng,-0.295732,0.106078,-0.020002,-0.014141,0.035471,0.110810,0.034001,-0.304524,1.000000

In [11]:
df[['Reviewer_Score']] = df[['Reviewer_Score']].astype(int)
df.head(10)

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968
5,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,Poland,Backyard of the hotel is total mess shouldn t...,17,1403,Good restaurant with modern design great chil...,20,1,6,"[' Leisure trip ', ' Group ', ' Duplex Double ...",10 days,52.360576,4.915968
6,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/17/2017,7.7,Hotel Arena,United Kingdom,Cleaner did not change our sheet and duvet ev...,33,1403,The room is spacious and bright The hotel is ...,18,6,4,"[' Leisure trip ', ' Group ', ' Duplex Twin Ro...",17 days,52.360576,4.915968
7,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/17/2017,7.7,Hotel Arena,United Kingdom,Apart from the price for the brekfast Everyth...,11,1403,Good location Set in a lovely park friendly s...,19,1,10,"[' Leisure trip ', ' Couple ', ' Duplex Double...",17 days,52.360576,4.915968
8,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/9/2017,7.7,Hotel Arena,Belgium,Even though the pictures show very clean room...,34,1403,No Positive,0,3,6,"[' Leisure trip ', ' Couple ', ' Duplex Double...",25 days,52.360576,4.915968
9,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/8/2017,7.7,Hotel Arena,Norway,The aircondition makes so much noise and its ...,15,1403,The room was big enough and the bed is good T...,50,1,7,"[' Leisure trip ', ' Couple ', ' Large King Ro...",26 days,52.360576,4.915968

In [12]:
data = df.select_dtypes(include=np.number)
data.head(10)

,Additional_Number_of_Scoring,Average_Score,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,lat,lng
0,194,7.7,397,1403,11,7,2,52.360576,4.915968
1,194,7.7,0,1403,105,7,7,52.360576,4.915968
2,194,7.7,42,1403,21,9,7,52.360576,4.915968
3,194,7.7,210,1403,26,1,3,52.360576,4.915968
4,194,7.7,140,1403,8,3,6,52.360576,4.915968
5,194,7.7,17,1403,20,1,6,52.360576,4.915968
6,194,7.7,33,1403,18,6,4,52.360576,4.915968
7,194,7.7,11,1403,19,1,10,52.360576,4.915968
8,194,7.7,34,1403,0,3,6,52.360576,4.915968
9,194,7.7,15,1403,50,1,7,52.360576,4.915968

In [13]:
df[{'Additional_Number_of_Scoring', 'Average_Score', 'Review_Total_Negative_Word_Counts', 'Total_Number_of_Reviews', 'Review_Total_Positive_Word_Counts', 'Total_Number_of_Reviews_Reviewer_Has_Given','Reviewer_Score', 'lat', 'lng'}].to_csv("Hotel_Reviews_Data_in_Europe.csv")

C:\Users\ASUS\AppData\Local\Temp\ipykernel_7040\3699554747.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df[{'Additional_Number_of_Scoring', 'Average_Score', 'Review_Total_Negative_Word_Counts', 'Total_Number_of_Reviews', 'Review_Total_Positive_Word_Counts', 'Total_Number_of_Reviews_Reviewer_Has_Given','Reviewer_Score', 'lat', 'lng'}].to_csv("Hotel_Reviews_Data_in_Europe.csv")